::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e8ebf0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b349;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #e8ebf0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
  overflow: hidden;
  border: 0px solid red;
}

.container-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  width: 100%;
  border: 0px solid orange;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00b19d;
  height: 3.5rem;
  width: 100%;
  padding: 1rem;
  border: 0px solid yellow;
}

nav h1 {
  margin: 0;
}

nav i {
  padding: 8px;
  color: #ffffff;
  font-size: 1.5rem !important;
}

.container-main {
  background-color: #e8ebf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  height: calc(100% - 3.5rem);
  width: 100%;
  border: 0px solid blue;
}

#aside-index {
  background-color: #ffffff;
  height: 100%;
  width: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
  border: 0px solid gray;
}

#aside-index span {
  background-color: #3dcc68;
  width: 2.2rem;
  line-height: 2.2rem;
  border-radius: 2.2rem;
  text-align: center;
  font-weight: 100;
  color: #ffffff;
  margin: 0.5rem auto;
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0px solid green;
}

#section-search {
  background-color: #e8ebf0;
  padding: 0.8rem;
  border: 0px solid #2bff00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

#section-search #search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #007e70;
  text-align: center;
  border-radius: 5px 0 0 5px;
  color: white;
  cursor: pointer;
  padding: 7px 0.8rem;
}

#section-search #search-button i {
  vertical-align: middle;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 1.3rem;
}

#section-search input {
  border: 2px solid #44c6b7;
  border-radius: 0 5px 5px 0;
  width: 100%;
}

#section-search #nuevo-prod {
  color: #00b19d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 7px 0.5rem;
  cursor: pointer;
}

#section-search #nuevo-prod label {
  font-size: 0.8rem;
  padding: 5px 5px 0 10px;
}

#section-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  width: 100%;
  border: 0px solid lightblue;
}

#section-products article {
  background-color: #ffffff;
  border: 2px solid #44c6b700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12rem;
  height: 18rem;
  margin: 2rem;
  margin-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 8px 17px 2px #00000014, 0 3px 14px 2px #00000012, 0 5px 5px -3px #00000020;
          box-shadow: 0 8px 17px 2px #00000014, 0 3px 14px 2px #00000012, 0 5px 5px -3px #00000020;
}

#section-products article .marco-img {
  border: 0.8rem solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#section-products article .marco-img .id {
  background-color: #ffffff;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  margin: 0;
  font-size: 0.75rem;
  width: 3.2rem;
  height: 1.1rem;
  font-weight: 100;
  text-align: center;
  color: #44c6b7;
}

#section-products article .marco-img .top {
  position: absolute;
  width: 2.2rem;
  height: 1.6rem;
  background-color: white;
  padding-left: 4px;
  color: #44c6b7;
  right: 0.8rem;
  top: 1.5rem;
  font-size: 0.5rem;
}

#section-products article .marco-img .img-prod {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#section-products article .marco-img .img-prod .inventario {
  background-color: #ffffff;
  margin: 0;
  font-size: 0.7rem;
  width: 3rem;
  height: 1.2rem;
  text-align: center;
  padding-top: 3px;
  color: #7a7a7a;
  font-weight: bold;
}

#section-products article .cantidad {
  background-color: #ffffff;
  padding-top: 6px;
  position: absolute;
  z-index: 1000;
  top: -0.5rem;
  right: -0.8rem;
  border: 2px solid #44c6b7;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 31px;
  color: #44c6b7;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

#section-products article .nombre {
  color: #b9b9b9;
  font-size: 0.85rem;
  font-weight: 100;
  margin: 0 0.5rem 0 0.5rem;
  text-align: center;
  width: 100%;
  height: 3rem;
}

#section-products article .precio {
  font-weight: bold;
  color: #7a7a7a;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.selected, #section-products > article:hover {
  border: 2px solid #44c6b7 !important;
}

#aside-shop {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  background-color: #f1f1f1;
  height: 100%;
  border: 0px solid orange;
  visibility: visible;
}

#aside-shop h4 {
  background-color: #809bb6;
  color: #ffffff;
  margin: 0;
  padding: 0.7rem;
  text-align: center;
  font-weight: 50;
  height: 2.5rem;
}

#aside-shop .triangle {
  background: url("../images/tri.svg") center center repeat-x;
  background-size: 20px;
  height: 20px;
  width: 100%;
  position: relative;
  margin-top: -1px;
  -webkit-user-select: 0;
     -moz-user-select: 0;
      -ms-user-select: 0;
          user-select: 0;
}

#aside-shop section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
}

#aside-shop section article {
  border: 1px solid red;
  color: #7a7a7a;
  height: 5rem;
}

#aside-shop footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #e7e7e7;
  border: 0px solid black;
}

#aside-shop footer #div-sale {
  background-color: #e7e7e7;
  padding: 1.5rem;
}

#aside-shop footer #div-sale button {
  background-color: #00b19d;
  color: white;
}

#aside-shop footer #div-cancel {
  background-color: #809bb6;
  padding: 0.5rem;
}

.shop_open {
  -webkit-animation: animation-shop-open 1s ease;
          animation: animation-shop-open 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.shop_close {
  -webkit-animation: animation-shop-close 1s ease;
          animation: animation-shop-close 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animation-shop-open {
  0% {
    visibility: visible;
    opacity: 0;
    width: 0%;
    height: 40%;
  }
  10% {
    opacity: 1;
  }
  40% {
    height: 50%;
    width: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}

@keyframes animation-shop-open {
  0% {
    visibility: visible;
    opacity: 0;
    width: 0%;
    height: 40%;
  }
  10% {
    opacity: 1;
  }
  40% {
    height: 50%;
    width: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    visibility: visible;
  }
}

@-webkit-keyframes animation-shop-close {
  0% {
    visibility: visible;
  }
  60% {
    height: 50%;
    width: 100%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 40%;
    visibility: hidden;
  }
}

@keyframes animation-shop-close {
  0% {
    visibility: visible;
  }
  60% {
    height: 50%;
    width: 100%;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 40%;
    visibility: hidden;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 380px) {
  #section-products {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aside-shop {
    position: absolute;
    z-index: 1000;
    width: 100%;
    right: 0;
    height: calc(100% - 3.5rem);
    visibility: hidden;
  }
  #aside-index {
    display: none;
  }
  #section-search input {
    width: 50%;
  }
}

@media (min-width: 381px) and (max-width: 430px) {
  #section-products {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aside-shop {
    position: absolute;
    z-index: 1000;
    width: 100%;
    right: 0;
    height: calc(100% - 3.5rem);
    visibility: hidden;
  }
  #section-search input {
    width: 50%;
  }
}

@media (min-width: 430px) and (max-width: 480px) {
  #section-products {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aside-shop {
    position: absolute;
    z-index: 1000;
    width: 100%;
    right: 0;
    height: calc(100% - 3.5rem);
    visibility: hidden;
  }
}

#section-products:not([data-scroll='0']) nav {
  display: none;
}

/* Only by aside-shop heigth*/
@media (max-width: 480px) {
  @-webkit-keyframes animation-shop-open {
    0% {
      visibility: visible;
      opacity: 0;
      width: 0%;
      height: 40%;
    }
    10% {
      opacity: 1;
    }
    40% {
      height: 50%;
      width: 100%;
    }
    100% {
      width: 100%;
      height: calc(100% - 3.5rem);
      visibility: visible;
    }
  }
  @keyframes animation-shop-open {
    0% {
      visibility: visible;
      opacity: 0;
      width: 0%;
      height: 40%;
    }
    10% {
      opacity: 1;
    }
    40% {
      height: 50%;
      width: 100%;
    }
    100% {
      width: 100%;
      height: calc(100% - 3.5rem);
      visibility: visible;
    }
  }
  @-webkit-keyframes animation-shop-close {
    0% {
      visibility: visible;
    }
    60% {
      height: 50%;
      width: 100%;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 0%;
      height: 40%;
      visibility: hidden;
    }
  }
  @keyframes animation-shop-close {
    0% {
      visibility: visible;
    }
    60% {
      height: 50%;
      width: 100%;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 0%;
      height: 40%;
      visibility: hidden;
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  #section-products {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #aside-shop {
    position: absolute;
    z-index: 1000;
    width: 60%;
    right: 0;
    height: calc(100% - 3.5rem);
    visibility: hidden;
  }
  @-webkit-keyframes animation-shop-open {
    0% {
      visibility: visible;
      opacity: 0;
      width: 0%;
      height: 40%;
    }
    10% {
      opacity: 1;
    }
    40% {
      height: 50%;
      width: 60%;
    }
    100% {
      width: 60%;
      height: 60%;
      visibility: visible;
    }
  }
  @keyframes animation-shop-open {
    0% {
      visibility: visible;
      opacity: 0;
      width: 0%;
      height: 40%;
    }
    10% {
      opacity: 1;
    }
    40% {
      height: 50%;
      width: 60%;
    }
    100% {
      width: 60%;
      height: 60%;
      visibility: visible;
    }
  }
  @-webkit-keyframes animation-shop-close {
    0% {
      visibility: visible;
    }
    60% {
      height: 50%;
      width: 60%;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 0%;
      height: 40%;
      visibility: hidden;
    }
  }
  @keyframes animation-shop-close {
    0% {
      visibility: visible;
    }
    60% {
      height: 50%;
      width: 60%;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 0%;
      height: 40%;
      visibility: hidden;
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 767px) and (max-width: 1024px) {
  main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  #aside-shop {
    -webkit-box-flex: 1.2;
        -ms-flex: 1.2;
            flex: 1.2;
    visibility: visible;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1280px) {
  #button-shop {
    display: none;
  }
  #aside-shop {
    visibility: visible;
  }
}

/* Media Query for Large screens */
@media (min-width: 1280px) {
  #button-shop {
    display: none;
  }
  #aside-shop {
    visibility: visible;
  }
}

#section-products article {
  position: relative;
  height: 19rem;
  width: 13rem;
  border: 0.7rem solid #ffffff;
}

#section-products article h5 {
  margin: 0;
  position: absolute;
  top: -0.7rem;
  left: -0.7rem;
  background-color: #ffffff;
  color: #000;
  padding: 3px;
}

#section-products article .image {
  width: 100%;
  height: 12rem;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#section-products article .image span {
  margin-top: 2rem;
  background-color: #ffffff;
  color: green;
  padding: 0 8px;
}

#section-products article .image small {
  background-color: #ffffff;
  color: #000;
  padding: 2px 3px;
}
/*# sourceMappingURL=app.css.map */