::-webkit-scrollbar
    width: 7px

/* Track */
::-webkit-scrollbar-track
    background: #e8ebf0

/* Handle */
::-webkit-scrollbar-thumb
    background: #b3b3b349
    border-radius: 10px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #b3b3b3

@font-face
    font-family: Roboto
    src: url('../fonts/Roboto-Regular.ttf')

*
    box-sizing: border-box

//Borders
$b: 0px

html, body
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    color: #e8ebf0
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
    font-weight: normal
    overflow: hidden
    border: $b solid red

.container-body
    position: relative
    display: flex
    flex-flow: column
    height: 100%
    width: 100%
    border: $b solid orange

nav
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #00b19d
    height: 3.5rem
    width: 100%
    padding: 1rem
    border: $b solid yellow

    h1
        margin: 0

    i
        padding: 8px
        color: #ffffff
        font-size: 1.5rem !important

.container-main
    background-color: #e8ebf0
    display: flex
    flex-flow: row
    height: calc(100% - 3.5rem)
    width: 100%
    border: $b solid blue

#aside-index
    background-color: #ffffff
    height: 100%
    width: 3.6rem
    display: flex
    flex-flow: column
    padding-top: 0.5rem
    padding-bottom: 0.5rem
    overflow-y: auto
    border: $b solid gray

    span
        background-color: #3dcc68
        width: 2.2rem
        line-height: 2.2rem
        border-radius: 2.2rem
        text-align: center
        font-weight: 100
        color: #ffffff
        margin: 0.5rem auto
        cursor: pointer

main
    display: flex
    flex-flow: column
    height: 100%
    width: 100%
    flex: 1
    border: $b solid green

#section-search
    background-color: #e8ebf0
    padding: 0.8rem
    border: $b solid #2bff00
    display: flex
    flex-flow: row

    #search-button
        display: flex
        background-color: #007e70
        text-align: center
        border-radius: 5px 0 0 5px
        color: white
        cursor: pointer
        padding: 7px 0.8rem

        i
            vertical-align: middle
            align-content: center
            font-size: 1.3rem

    input
        border: 2px solid #44c6b7
        border-radius: 0 5px 5px 0
        width: 100%

    #nuevo-prod
        color: #00b19d
        display: flex
        padding: 7px 0.5rem
        cursor: pointer

        label
            font-size: 0.8rem
            padding: 5px 5px 0 10px

#section-products
    display: flex
    flex-flow: row
    flex: 1
    justify-content: flex-start
    flex-wrap: wrap
    overflow: auto
    height: 100%
    width: 100%
    border: $b solid lightblue

    article
        background-color: #ffffff
        border: 2px solid #44c6b700
        position: relative
        display: flex
        flex-direction: column
        width: 12rem
        height: 18rem
        margin: 2rem
        margin-bottom: 2rem
        align-items: center
        font-family: 'Roboto'
        transition: all 200ms ease
        cursor: pointer
        user-select: none
        box-shadow: 0 8px 17px 2px #00000014, 0 3px 14px 2px #00000012, 0 5px 5px -3px #00000020

        .marco-img
            border: 0.8rem solid #ffffff
            display: flex
            justify-content: center
            width: 100%
            height: 100%

            .id
                background-color: #ffffff
                position: absolute
                top: 0.8rem
                left: 0.8rem
                margin: 0
                font-size: 0.75rem
                width: 3.2rem
                height: 1.1rem
                font-weight: 100
                text-align: center
                color: #44c6b7

            .top
                position: absolute
                width: 2.2rem
                height: 1.6rem
                background-color: white
                padding-left: 4px
                color: #44c6b7
                right: 0.8rem
                top: 1.5rem
                font-size: 0.5rem

            .img-prod
                width: 100%
                height: 100%
                background-size: cover
                background-position: center center
                display: flex
                flex-flow: column
                justify-content: flex-end
                align-items: flex-end

                .inventario
                    background-color: #ffffff
                    margin: 0
                    font-size: 0.7rem
                    width: 3rem
                    height: 1.2rem
                    text-align: center
                    padding-top: 3px
                    color: #7a7a7a
                    font-weight: bold

        .cantidad
            background-color: #ffffff
            padding-top: 6px
            position: absolute
            z-index: 1000
            top: -0.5rem
            right: -0.8rem
            border: 2px solid #44c6b7
            width: 2.2rem
            height: 2.2rem
            border-radius: 31px
            color: #44c6b7
            font-weight: 600
            font-size: 0.9rem
            text-align: center
            //opacity: 0

        .nombre
            color: #b9b9b9
            font-size: 0.85rem
            font-weight: 100
            margin: 0 0.5rem 0 0.5rem
            text-align: center
            width: 100%
            height: 3rem

        .precio
            font-weight: bold
            color: #7a7a7a
            margin: 0
            margin-bottom: 1rem
            font-size: 0.95rem

.selected, #section-products>article:hover
    border: 2px solid #44c6b7 !important

#aside-shop
    position: relative
    display: flex
    flex-flow: column
    flex: 0.5
    background-color: #f1f1f1
    height: 100%
    border: $b solid orange
    visibility: visible

    h4
        background-color: #809bb6
        color: #ffffff
        margin: 0
        padding: 0.7rem
        text-align: center
        font-weight: 50
        height: 2.5rem

    .triangle
        background: url('../images/tri.svg') center center repeat-x
        background-size: 20px
        height: 20px
        width: 100%
        position: relative
        user-select: 0

    section
        flex: 1
        overflow: auto

        article
            border: 1px solid red
            color: #7a7a7a
            height: 5rem

    footer
        width: 100%
        position: relative
        bottom: 0
        background-color: #e7e7e7
        border: $b solid black

        #div-sale
            background-color: #e7e7e7
            padding: 1.5rem

            button
                background-color: #00b19d
                color: white

        #div-cancel
            background-color: #809bb6
            padding: 0.5rem

.shop_open
    animation: animation-shop-open 1s ease
    animation-fill-mode: forwards

.shop_close
    animation: animation-shop-close 1s ease
    animation-fill-mode: forwards

@keyframes animation-shop-open
    0%
        visibility: visible
        opacity: 0
        width: 0%
        height: 40%
    10%
        opacity: 1

    40%
        height: 50%
        width: 100%
    100%
        width: 100%
        height: 100%
        visibility: visible

@keyframes animation-shop-close
    0%
        visibility: visible
    60%
        height: 50%
        width: 100%
    90%
        opacity: 1
    100%
        opacity: 0
        width: 0%
        height: 40%
        visibility: hidden

/* Media Query for Mobile Devices */
@media (max-width: 380px)
    #section-products
        margin: 0
        justify-content: center
    #aside-shop
        position: absolute
        z-index: 1000
        width: 100%
        right: 0
        height: calc(100% - 3.5rem)
        visibility: hidden

    #aside-index
        display: none
    #section-search input
        width: 50%

@media (min-width: 381px) and (max-width: 430px)
    #section-products
        margin: 0
        justify-content: center
    #aside-shop
        position: absolute
        z-index: 1000
        width: 100%
        right: 0
        height: calc(100% - 3.5rem)
        visibility: hidden

    #section-search input
        width: 50%

@media (min-width: 430px) and (max-width: 480px)
    #section-products
        margin: 0
        justify-content: center
    #aside-shop
        position: absolute
        z-index: 1000
        width: 100%
        right: 0
        height: calc(100% - 3.5rem)
        visibility: hidden

#section-products:not([data-scroll='0'])
    nav
        display: none

/* Only by aside-shop heigth*/
@media (max-width: 480px)
    @keyframes animation-shop-open
        0%
            visibility: visible
            opacity: 0
            width: 0%
            height: 40%
        10%
            opacity: 1

        40%
            height: 50%
            width: 100%
        100%
            width: 100%
            height: calc(100% - 3.5rem)
            visibility: visible

    @keyframes animation-shop-close
        0%
            visibility: visible
        60%
            height: 50%
            width: 100%
        90%
            opacity: 1
        100%
            opacity: 0
            width: 0%
            height: 40%
            visibility: hidden

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px)
    #section-products
        margin: 0
        justify-content: center
    #aside-shop
        position: absolute
        z-index: 1000
        width: 60%
        right: 0
        height: calc(100% - 3.5rem)
        visibility: hidden

    @keyframes animation-shop-open
        0%
            visibility: visible
            opacity: 0
            width: 0%
            height: 40%
        10%
            opacity: 1

        40%
            height: 50%
            width: 60%
        100%
            width: 60%
            height: 60%
            visibility: visible

    @keyframes animation-shop-close
        0%
            visibility: visible
        60%
            height: 50%
            width: 60%
        90%
            opacity: 1
        100%
            opacity: 0
            width: 0%
            height: 40%
            visibility: hidden

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 767px) and (max-width: 1024px)
    main
        flex: 1
    #aside-shop
        flex: 1.2
        visibility: visible

/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1280px)
    #button-shop
        display: none
    #aside-shop
        visibility: visible

/* Media Query for Large screens */
@media (min-width: 1280px)
    #button-shop
        display: none
    #aside-shop
        visibility: visible
