*
    box-sizing: border-box

html, body
    height: 100%
    margin: 0
    padding: 0

nav
    background-color: green
    height: 3rem

.container-body
    display: flex
    flex-flow: column
    height: 100%

.container-main
    display: flex
    flex-flow: row
    height: 100%

    #index
        background-color: #e7e7e7
        height: 100%
        width: 4rem

main
    display: flex
    flex-flow: column
    height: 100%
    flex-grow: 1

    #search
        background-color: #d1d1d1
        height: 5rem

    #products
        background-color: #b1b1b1
        height: 100%
        padding: 1rem

        article
            background-color: white
            border: 1px solid black

#shop_car
    display: flex
    flex-flow: column
    flex-grow: .4

    background-color: #f1f1f1
    height: 100%

    h3
        margin: 0
        background-color: #779db3
        color: white

    #items
        article
            border: 1px solid red

    footer
        position: fixed
        bottom: 2rem
        width: 100%
        background-color: #e7e7e7
        color: white

        #sale_button
            background-color: #e7e7e7

            button
                background-color: green
                color: white

        #cancel_sale
            background-color: #779db3
