* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;   
    overflow: hidden; 
}

.container-body {
    display: flex; 
    flex-flow: column;
    height: 100%;
    
}

nav {
    background-color: green;
    height: 3rem;
}

.container-main {
    display: flex;
    flex-flow: row;
    height: 100%;
}

#index {
    background-color: #d8d8d8; 
    height: 100%;
    width: 4rem;
}

main {
    background-color: #f1f1f1;
    height: 100%;
    flex: 1;
}

#products {
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#products article {
    margin: 1rem;
    width: 8rem;
    height: 10rem;
    border: 1px solid red;
    
}

#shop_car {
    background-color: #a1a1a1;
    height: 100%;
    flex: 0.4;
}

#shop_car h3 {
    margin: 0;
}

footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
}